POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=airflow_meta

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

PLATFORM_ADMIN_USER=platform_admin
PLATFORM_ADMIN_PASSWORD=change-me-platform-admin
EDU_WRITER_USER=edu_writer
EDU_WRITER_PASSWORD=change-me-edu-writer

EDU_PLATFORM_DB=edu_platform
EDU_PLATFORM_HOST=postgres
EDU_PLATFORM_PORT=5432
EDU_PLATFORM_SCHEMA=raw

AIRFLOW_FERNET_KEY=xkOv1xE3y1m7W6D5vl1F2MMbuzvx3vfeNn8bONnMkw0=
AIRFLOW_SECRET_KEY=change-me-airflow-webserver-secret
AIRFLOW_UID=50000
AIRFLOW_DAG_START_DATE=2026-01-01
AIRFLOW_TMP_DIR=/opt/airflow/tmp
